/* Write your CSS here! */

body {
        margin: 8px;
        padding: 25px;
        background-color: aqua;
}

#mainHeading {
    color: red;
    text-align: center;
}

.funParagraph{
    background-color: yellow;
    color: green;
    padding: 25px;
}

#pasta{
position: relative;
display: flex;
}

.evolution{
display: flex;
position: relative;
float: right;
padding: 25px;
}

div{
    display: flex;
    justify-content: space-between;
    
}

h2{
    color: blueviolet;
    padding: 25px;
}